Title: US Shooting 1982-2023

Source: https://www.motherjones.com/politics/2012/12/mass-shootings-mother-jones-full-data/

Date: 2023/06/09

In [1]:
import pandas as pd
import numpy as np

# 1. Data

## 1.1 Data Import

In [2]:
#google cololab
from google.colab import drive
drive.mount('/content/drive')
drive_folder = '/content/drive/MyDrive/Colab Notebooks/US-ShootingCase-1982-2023'

Mounted at /content/drive

In [52]:
file_path = '/data/Mother Jones - Mass Shootings Database, 1982 - 2023 - Sheet1.csv'
# df = pd.read_csv(file_path)
#google cololab
df = pd.read_csv(drive_folder + file_path)
df.head()

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,weapon_details,race,gender,sources,mental_health_sources,sources_additional_age,latitude,longitude,type,year
0,New Mexico neighborhood shooting,"Farmington, New Mexico",5/15/23,"Beau Wilson, 18, opened fire in a residential ...",3,6,9,Other,18,yes,...,AR-15-style rifle,White,M,https://www.cbsnews.com/news/farmington-shooti...,https://www.nbcnews.com/news/us-news/beau-wils...,-,-,-,mass,2023
1,Texas outlet mall shooting,"Allen, Texas",5/6/23,"Mauricio Garcia, 33, wore tactical gear and us...",8,7,15,Other,33,yes,...,AR-15-style rifle,Latino,M,https://www.nytimes.com/2023/05/07/us/texas-ma...,-,-,-,-,Mass,2023
2,Louisville bank shooting,"Louisville, Kentucky",4/10/23,"Connor Sturgeon, 25, opened fire inside Old Na...",5,8,13,workplace,25,yes,...,AR-15 rifle,White,M,https://apnews.com/article/downtown-louisville...,-,-,-,-,Mass,2023
3,Nashville Christian school shooting,"Nashville, Tennessee",3/27/23,"Audrey Hale, 28, who was a former student at t...",6,6,12,School,28,-,...,-,White,"F (""identifies as transgender"" and ""Audrey Hal...",https://www.tennessean.com/story/news/crime/20...,-,-,-,-,Mass,2023
4,Michigan State University shooting,"East Lansing, Michigan",2/13/23,"Anthony D. McRae, 43, opened fire at Berkey Ha...",3,5,8,School,43,-,...,-,Black,M,https://www.cnn.com/us/live-news/michigan-stat...,-,-,-,-,Mass,2023

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              144 non-null    object
 1   location                          144 non-null    object
 2   date                              144 non-null    object
 3   summary                           144 non-null    object
 4   fatalities                        144 non-null    int64
 5   injured                           144 non-null    int64
 6   total_victims                     144 non-null    int64
 7   location.1                        144 non-null    object
 8   age_of_shooter                    144 non-null    object
 9   prior_signs_mental_health_issues  144 non-null    object
 10  mental_health_details             144 non-null    object
 11  weapons_obtained_legally          144 non-null    object
 12  where_obtained                    144 non-null    object
 13  weapon_type                       144 non-null    object
 14  weapon_details                    143 non-null    object
 15  race                              144 non-null    object
 16  gender                            144 non-null    object
 17  sources                           144 non-null    object
 18  mental_health_sources             144 non-null    object
 19  sources_additional_age            144 non-null    object
 20  latitude                          144 non-null    object
 21  longitude                         144 non-null    object
 22  type                              144 non-null    object
 23  year                              144 non-null    int64
dtypes: int64(4), object(20)
memory usage: 27.1+ KB

## 1.2 Data Cleaning

### 1.2.1 Change data type

In [54]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              144 non-null    object
 1   location                          144 non-null    object
 2   date                              144 non-null    datetime64[ns]
 3   summary                           144 non-null    object
 4   fatalities                        144 non-null    int64
 5   injured                           144 non-null    int64
 6   total_victims                     144 non-null    int64
 7   location.1                        144 non-null    object
 8   age_of_shooter                    144 non-null    object
 9   prior_signs_mental_health_issues  144 non-null    object
 10  mental_health_details             144 non-null    object
 11  weapons_obtained_legally          144 non-null    object
 12  where_obtained                    144 non-null    object
 13  weapon_type                       144 non-null    object
 14  weapon_details                    143 non-null    object
 15  race                              144 non-null    object
 16  gender                            144 non-null    object
 17  sources                           144 non-null    object
 18  mental_health_sources             144 non-null    object
 19  sources_additional_age            144 non-null    object
 20  latitude                          144 non-null    object
 21  longitude                         144 non-null    object
 22  type                              144 non-null    object
 23  year                              144 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(19)
memory usage: 27.1+ KB

In [55]:
df = df.convert_dtypes()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   case                              144 non-null    string
 1   location                          144 non-null    string
 2   date                              144 non-null    datetime64[ns]
 3   summary                           144 non-null    string
 4   fatalities                        144 non-null    Int64
 5   injured                           144 non-null    Int64
 6   total_victims                     144 non-null    Int64
 7   location.1                        144 non-null    string
 8   age_of_shooter                    144 non-null    string
 9   prior_signs_mental_health_issues  144 non-null    string
 10  mental_health_details             144 non-null    string
 11  weapons_obtained_legally          144 non-null    string
 12  where_obtained                    144 non-null    string
 13  weapon_type                       144 non-null    string
 14  weapon_details                    143 non-null    string
 15  race                              144 non-null    string
 16  gender                            144 non-null    string
 17  sources                           144 non-null    string
 18  mental_health_sources             144 non-null    string
 19  sources_additional_age            144 non-null    string
 20  latitude                          144 non-null    string
 21  longitude                         144 non-null    string
 22  type                              144 non-null    string
 23  year                              144 non-null    Int64
dtypes: Int64(4), datetime64[ns](1), string(19)
memory usage: 27.7 KB

In [ ]:
df.rename(columns = {'location.1':'place'}, inplace = True)

In [58]:
df.columns

Index(['case', 'location', 'date', 'summary', 'fatalities', 'injured',
       'total_victims', 'place', 'age_of_shooter',
       'prior_signs_mental_health_issues', 'mental_health_details',
       'weapons_obtained_legally', 'where_obtained', 'weapon_type',
       'weapon_details', 'race', 'gender', 'sources', 'mental_health_sources',
       'sources_additional_age', 'latitude', 'longitude', 'type', 'year'],
      dtype='object')

In [66]:
df[['place', 'prior_signs_mental_health_issues', 'weapons_obtained_legally', 'race', 'type']] = df[['place', 'prior_signs_mental_health_issues', 'weapons_obtained_legally', 'race', 'type']].apply(lambda col:col.str.capitalize())
df[['place', 'prior_signs_mental_health_issues', 'weapons_obtained_legally', 'race', 'type']].head()

,place,prior_signs_mental_health_issues,weapons_obtained_legally,race,type
0,Other,Yes,Yes,White,Mass
1,Other,Yes,Yes,Latino,Mass
2,Workplace,Yes,Yes,White,Mass
3,School,-,Yes,White,Mass
4,School,-,Yes,Black,Mass

In [71]:
df['gender'] = df['gender'].replace('M', 'Male')
df['gender'] = df['gender'].replace('F', 'Female')
df['gender']

0                                                   Male
1                                                   Male
2                                                   Male
3      F ("identifies as transgender" and "Audrey Hal...
4                                                   Male
                             ...
139                                                 Male
140                                                 Male
141                                                 Male
142                                                 Male
143                                                 Male
Name: gender, Length: 144, dtype: string

In [112]:
df[df['gender'].map(len) > 6]['gender']

3     F ("identifies as transgender" and "Audrey Hal...
27                                        Male & Female
66                                        Male & Female
Name: gender, dtype: string

Index 3 value will be convert to Female for converience calculation

In [116]:
df['gender'][3] = 'Female'
df['gender']

0        Male
1        Male
2        Male
3      Female
4        Male
        ...
139      Male
140      Male
141      Male
142      Male
143      Male
Name: gender, Length: 144, dtype: string

### 1.2.2 Clean Missing Data

'-' is the missing data so it will be convert to "NaN".

In [131]:
df = df.replace('-', np.nan)
# display columns which is null
df.loc[:, df.isna().any()]

,age_of_shooter,prior_signs_mental_health_issues,mental_health_details,weapons_obtained_legally,where_obtained,weapon_details,race,mental_health_sources,sources_additional_age,latitude,longitude
0,18,Yes,<NA>,Yes,<NA>,AR-15-style rifle,White,https://www.nbcnews.com/news/us-news/beau-wils...,<NA>,<NA>,<NA>
1,33,Yes,Reportedly had a history of mental health prob...,Yes,<NA>,AR-15-style rifle,Latino,<NA>,<NA>,<NA>,<NA>
2,25,Yes,<NA>,Yes,gun dealership in Louisville,AR-15 rifle,White,<NA>,<NA>,<NA>,<NA>
3,28,<NA>,<NA>,Yes,<NA>,<NA>,White,<NA>,<NA>,<NA>,<NA>
4,43,<NA>,<NA>,Yes,<NA>,<NA>,Black,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
139,59,Yes,He suffered from paranoid delusions. A judge f...,Yes,"Gun store in Norwood, Ohio; The Oaks Trading P...","Sturm, Ruger Mini-14 semiautomatic rifle; 20-g...",White,(Supreme Court of Florida Document) http://www...,http://articles.latimes.com/1987-04-25/news/mn...,28.0331886,-80.6429695
140,44,Unclear,He was worried he had inherited mental problem...,Yes,"Issued by Oklahoma National Guard, where Sherr...",".22-caliber, two .45-caliber Colt Model 1911-A...",White,http://newsok.com/sherrill-feared-mental-illne...,http://news.google.com/newspapers?id=dm8aAAAAI...,35.6672015,-97.42937037
141,41,Yes,"The day before the shooting, he tried to make ...",Yes,Unknown,9mm Browning P35 Hi-Power semiautomatic handgu...,White,http://www.nctimes.com/news/local/article_2ba4...,http://www.utsandiego.com/san-ysidro-massacre/...,32.5520013,-117.0430813
142,39,Yes,"During his last meal with his wife, he confess...",No,"Hines Boulevard Pawn Shop in Dallas, Texas",9mm Smith & Wesson 459 semiautomatic handgun,White,http://books.google.com/books?id=Hr3OBwP-lbUC&...,http://books.google.com/books?id=Hr3OBwP-lbUC&...,32.925166,-96.838676
143,51,Yes,His second wife left him because he refused to...,Yes,"Garcia Gun Center in Hialeah, Fla.",Mossberg 500 Persuader pump-action shotgun wit...,White,http://news.google.com/newspapers?id=uuYLAAAAI...,http://www.nytimes.com/1982/08/21/us/gunman-in...,25.796491,-80.226683

In [ ]:
# TBC